canvas {
    position: absolute;
    border: 1px solid black;
}

.container {
    width: 80%;
    margin: auto;
}

#canv_bg {
    z-index: 1;
}

#canv_main {
    z-index: 2;
}

#canv_ui {
    z-index: 3;
}